{% include '/general/header.twig' %}
<div class="main-content">
  <section class="slice slice-lg min-vh-100 d-flex align-items-center bg-section-secondary">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <h1 class="h2">{{ 'site.cart.empty.title' | language }}</h1>
            <h2 class="h4">{{ 'site.cart.empty.info' | language }}</h2>
            <a href="{{ url }}/p" class="btn btn-sm btn-primary btn-icon rounded-pill mt-5">
              <span class="btn-inner--icon"><i class="fas fa-angle-left"></i></span>
              <span class="btn-inner--text">{{ 'site.cart.empty.btn.back' | language }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% include '/general/footer.twig' %}