{% include '/general/header_noNav.twig' %}
<section class="vh-100 d-flex align-items-center bg-gradient-primary">
  <div class="container py-md-8 position-relative zindex-100">
    <div class="col px-0">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
          <h6
            class="my-4 text-white font-weight-light text-uppercase ls-2">Bitte warten</h6>
          <p class="px-md-5 text-white mb-5">Wir warten auf Rückmeldung des Zahlungsdienstleisters...</p>
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include '/general/footer.twig' %} 