{% include '/general/header_noNav.twig' %}
<div class="main-content">
    <section class="slice slice-lg min-vh-100 d-flex align-items-center bg-section-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h6 class="my-4 text-white font-weight-light text-uppercase ls-2">{{ 'site.loadingScreen.title'|language }}</h6>
                        <p class="px-md-5 text-white mb-5">{{ 'site.loadingScreen.payment'|language }}</p>
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status" id="spinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <i id="failedIcon" style="display: none; width: 3rem; height: 3rem;" class="fa fa-close text-danger"></i>
                        <p class="px-md-5 text-warning mt-5" id="waitingMessage" style="display: none">{{ 'site.loadingScreen.waiting'|language }}</p>
                        <p class="px-md-5 text-danger mt-5" id="failedMessage" style="display: none">{{ 'site.loadingScreen.failed'|language }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include '/general/footer.twig' %}