<section class="slice pt-9 pb-7 bg-dark">
  <!-- Background image -->
  <img src="../../assets/img/backgrounds/img-1.jpg" alt="Image" class="img-as-bg blend-mode--multiply">
  <!-- Container -->
  <div data-offset-top="#navbar-main">
    <div class="container d-flex align-items-center text-center text-lg-left">
      <div class="col px-0">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <!-- Title -->
            <h2 class="h1 text-white mb-2">Product Marketing Manager</h2>
            <h6 class="font-weight-light text-white opacity-8">Menlo Park, CA</h6>
            <!-- Tags -->
            <div class="my-3">
              <span class="badge badge-primary">Sales</span>
              <span class="badge badge-primary">Marketing</span>
            </div>
            <!-- Criterias -->
            <div class="row mt-5">
              <div class="col-sm-4">
                <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
                  <div class="p-4 text-center">
                    <p class="text-muted mb-2">
                      Experience
                    </p>
                    <h5 class="mb-0">5-6</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
                  <div class="p-4 text-center">
                    <p class="text-muted mb-2">
                      Seniority level
                    </p>
                    <h5 class="mb-0">Entry Level</h5>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card shadow-lg rounded-lg border-0 mb-sm-0">
                  <div class="p-4 text-center">
                    <p class="text-muted mb-2">
                      Employment type
                    </p>
                    <h5 class="mb-0">Full-time</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="slice slice-lg">
  <div class="container">
    <div class="row justify-content-between mb-5">
      <div class="col-lg-3 text-lg-right">
        <h4 class="mb-4">Your role at Quick</h4>
      </div>
      <div class="col-lg-8">
        <p>
          Often, the aforementioned badass stuff will be in the form of Bootstrap-based websites. So, it's critical that you're familiar with Bootstrap and feel pretty comfortable bending it to your will. Experience using popular page builders, like Beaver Builder, Visual Composer and Divi, is a big plus. Beaver Builder especially.
        </p>
        <p>
          You don't need to be a hardcore developer to do this job (we've got some of those on staff, we intravenously pump them full of caffeine and try to avoid making direct eye contact). However, for you, a working knowledge of HTML and CSS will be fairly important.
        </p>
      </div>
    </div>
    <div class="row justify-content-between mb-5">
      <div class="col-lg-3 text-lg-right">
        <h4 class="mb-4">Responsabilities</h4>
      </div>
      <div class="col-lg-8">
        <ul class="list-unstyled list-bullet">
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Design websites, layouts, app interfaces and more
          </li>
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Help to build/code/assemble these things
          </li>
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Use WordPress, a lot
          </li>
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Collaborate closely with your team members
          </li>
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Always learn somthing new
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-between mb-5">
      <div class="col-lg-3 text-lg-right">
        <h4 class="mb-4">Requirements</h4>
      </div>
      <div class="col-lg-8">
        <ul class="list-unstyled list-bullet">
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Design websites, layouts, app interfaces and more
          </li>
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Help to build/code/assemble these things
          </li>
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Use WordPress, a lot
          </li>
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Collaborate closely with your team members
          </li>
          <li class="py-2">
            <span class="badge badge-circle badge-soft-success mr-2"><i data-feather="check"></i></span>
            Always learn somthing new
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-between mb-5">
      <div class="col-lg-3 text-lg-right">
        <h4 class="mb-4">Oue values</h4>
      </div>
      <div class="col-lg-8">
        <h6>Be 20% Wrong</h6>
        <p>
          As a startup, speed is extremely important. The quicker we move, the more mistakes we make. If we are making no mistakes, it means, quite simply, that we’re not moving fast enough. Therefore, a 20% error rate is, not only permissible, but expected. If you’re not wrong 20% of the time, you’re not moving fast or ambitious enough.
        </p>
        <h6 class="mt-5">Be Fearless</h6>
        <p>
          Fear is the primary motivator of human action. It drives people to cherish safety and complacency, coupled with an aversion to risk and change. However, it’s risk and change that advances the human race. Extreme risk and change is required to disrupt the digital commerce space as we know it. The outside world can’t possibly have the same knowledge that we have within our company walls. While we’re being called crazy, we must be fearless and driven by our internal conviction.
        </p>
      </div>
    </div>
    <div class="row justify-content-between">
      <div class="col-lg-3 text-lg-right">
        <h4 class="mb-4">Apply</h4>
      </div>
      <div class="col-lg-8">
        <div class="card mb-0">
          <div class="card-body p-lg-5">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">First name</label>
                    <input class="form-control" type="text" placeholder="Enter your first name">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Last name</label>
                    <input class="form-control" type="text" placeholder="Also your last name">
                  </div>
                </div>
              </div>
              <div class="row align-items-center">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input class="form-control" type="text" placeholder="Address, Number">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Online resume</label>
                    <input class="form-control" type="text" placeholder="Linkedin username">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Resume/CV</label>
                    <div>
                      <input type="file" name="file-1[]" id="file-1" class="form-control form-control-link" data-multiple-caption="{count} files selected">
                      <label for="file-1">
                        <span class="">Attach your file</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-control-label">Cover letter</label>
                    <div>
                      <input type="file" name="file-1[]" id="file-2" class="form-control form-control-link" data-multiple-caption="{count} files selected">
                      <label for="file-2">
                        <span class="">Attach your file</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Where do you see yourself in years?" rows="3"></textarea>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <button type="button" class="btn btn-primary">Submit your application</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>