{% if userData['email']['status'] != 1 %}
    <div class="col-lg-12">
        <div class="alert alert-group alert-warning alert-icon" role="alert">
            <div class="alert-group-prepend">
                                <span class="alert-group-icon text-">
                                    <i class="fa-regular fa-triangle-exclamation"></i>
                                </span>
            </div>
            <div class="alert-content">
                {{ 'site.cp.settings.emailNotVerified' | language }}
            </div>
            <div class="alert-action">
                <button type="button" class="btn btn-warning" onclick="
          startEmailConfirmation(function () {
            location.reload();
          }, function () {
            sendNotify(getMessage('general.action.message.failed'), 'danger');
          });">
                    {{ 'site.cp.settings.emailNotVerified.btn' | language }}</button>
            </div>
        </div>
    </div>
{% endif %}