{% if "team.service.lock"|checkTeamPermission %}

    <div class="form-check form-switch mode-switch">
        <input type="checkbox" class="form-check-input" name="lock" id="lock"
               onchange="updateLock(this.checked)" {% if service['locked'] %} checked {% endif %}>
        <label for="lock" class="form-check-label">
            <i class="fas fa-lock-open fs-lg"></i>
        </label>
        <label for="lock" class="form-check-label">
            <i class="fas fa-lock fs-lg"></i>
        </label>
    </div>
{% endif %}