<li class="nav-item">
  <a href="#info" class="nav-link active" id="infoServiceTab" data-bs-toggle="tab" role="tab">
    {{ 'site.cp.service.tab.info' | language }}
  </a>
</li>

{% if "team.service.invoice"|checkTeamPermission %}
  <li class="nav-item">
  <a href="#invoice" class="nav-link" data-bs-toggle="tab" role="tab">
    {{ 'site.cp.service.tab.invoice' | language }}
  </a>
</li>
{% endif %}
{% if "owner"|checkTeamPermission %}
  <li class="nav-item">
    <a href="#team" class="nav-link" data-bs-toggle="tab" role="tab">
      {{ 'site.cp.service.tab.team' | language }}
    </a>
  </li>
{% endif %}

