<!DOCTYPE html>
<html lang="{{ html_lang }}">
{% include '/general/head.twig' %}
<body>

{% if loader %}
<!-- Preloader -->
<div class="preloader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

{% endif %}

<div id="moveModalHere">

</div>