{% include '/general/header.twig' %}

<section class="slice slice-lg">
    <div class="container">
        <div class="row mb-6 justify-content-center text-center">
            <div class="col-lg-8 col-md-10">
                <h3 class=" mt-4">HMCSW</h3>
                <p class="lead">This is the Homepage of a new HMCSW4 Installation.</p>
            </div>
        </div>
    </div>
</section>

{% include '/general/footer.twig' %}